*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/toro/build/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/app/src/androidTest/
/app/proguard-rules.pro
/app/src/test/
/app/build/
!/app/libs/
/toro/src/test/
/toro/libs/
/gradle.properties
/toro-extra/libs/
/toro-extra/src/test/
/toro-extra/src/androidTest/
/extra/*.jar
/app/.classpath
/app/.project
/.project
/.settings/
/toro-core/.settings/
/toro-core/.project
/toro-core/.classpath
/app/.settings/
/app-youtube/src/androidTest/
/app-youtube/src/test/
/app-youtube/build/
/captures/
/toro-exoplayer/proguard-rules.pro
/toro-exoplayer/build/
/toro-exoplayer/.gitignore
/toro-exoplayer/libs/
/toro-exoplayer/toro-exoplayer.iml
/toro-exoplayer/src/test/
/toro-exoplayer/src/androidTest/
/toro-core/libs/
/toro-core/build/
