*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/toro/build/
/.idea/compiler.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/modules.xml
/app/src/androidTest/
/app/proguard-rules.pro
/app/src/test/
/app/build/
!/app/libs/
/toro/src/test/
/toro/libs/
/gradle.properties
/toro-extra/libs/
/toro-extra/src/test/
/toro-extra/src/androidTest/
