!/gradle.properties
/Toro.iml
/app/app.iml
/app/build
/.idea/compiler.xml
/.idea/findbugs-idea.xml
/.idea/gradle.xml
/.idea/runConfigurations.xml
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/inspectionProfiles
/.gradle
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
/toro-sampe-v1/build/
/toro-sample/google-services.json
/toro-sample/fabric.properties
/gradle.properties
/.idea/markdown-exported-files.xml
toro-ext-exoplayer/libs/
toro-ext-exoplayer/src/main/res/drawable/
toro-ext-exoplayer/src/main/res/layout/
toro-ext-exoplayer2/libs/
toro-ext-exoplayer2/src/main/res/drawable/
toro-ext-mediaplayer/libs/
toro-ext-mediaplayer/src/main/res/drawable/
toro-extended/libs/
toro-extended/src/main/res/drawable/
toro-sample/libs/
toro-sample/src/test/
