<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.ene.lab.toro.sample">

  <!-- Play video from internet -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".ToroSampleApp"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".activity.ShowCaseActivity"
        android:parentActivityName=".activity.MainActivity"/>

    <activity
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:name=".activity.MainActivity"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>

    <activity
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:name=".activity.StandalonePlayerActivity"
        android:theme="@style/Theme.AppCompat.NoActionBar">
    </activity>

    <activity-alias
        android:label="@string/app_name"
        android:name=".Launcher"
        android:targetActivity=".activity.MainActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity-alias>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="${fabric_api_key}"/>

    <meta-data
        android:name="Youtube.API_KEY"
        android:value="${youtube_api_key}"/>

  </application>

</manifest>