<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="im.ene.lab.toro.sample">

  <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
  <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
  <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
  <!-- Play video from internet -->
  <uses-permission android:name="android.permission.INTERNET"/>

  <application
      android:allowBackup="false"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:name=".ToroApp"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">

    <activity
        android:label="@string/app_name"
        android:launchMode="singleTop"
        android:name=".HomeActivity"
        android:theme="@style/AppTheme.NoActionBar"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.basic1.Basic1Activity"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.basic2.Basic2Activity"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.basic3.Basic3Activity"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.average1.Average1Activity"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.advance1.Advance1Activity"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.facebook.FbFeedActivity"/>
    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".presentation.legacy.LegacyActivity"/>

    <activity
        android:label="@string/activity_show_case"
        android:launchMode="singleTop"
        android:name=".develop.extended.ExtendedListActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>

    <activity-alias
        android:label="@string/app_name"
        android:name=".Launcher"
        android:targetActivity=".HomeActivity">
      <!--<intent-filter>-->
      <!--<action android:name="android.intent.action.MAIN"/>-->

      <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      <!--</intent-filter>-->
    </activity-alias>

    <meta-data
        android:name="io.fabric.ApiKey"
        android:value="${fabric_api_key}"/>

    <activity
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|uiMode"
        android:label="@string/app_name"
        android:name=".develop.DemoActivity"
        android:theme="@style/AppTheme.NoActionBar">
      <!--<intent-filter>-->
      <!--<action android:name="android.intent.action.MAIN"/>-->

      <!--<category android:name="android.intent.category.LAUNCHER"/>-->
      <!--</intent-filter>-->
    </activity>
  </application>

</manifest>